<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>

    <!-- Configuracion de la seccion Web Palace -->
    <sectionGroup name="webpalace" type="Microsoft.Web.Configuration.MicrosoftWebSectionGroup">
      <section name="appconfighelper" type="PalaceResorts.Common.PalaceTools.AppConfig.AppConfigSectionHandler, PalaceResorts2.Common.PalaceTools.AppConfig" allowDefinition="Everywhere" />
    </sectionGroup>

    <!-- Configuracion de la seccion Palace Resorts -->
    <sectionGroup name="palaceresorts" type="Microsoft.Web.Configuration.MicrosoftWebSectionGroup">
      <section name="notifications" type="PalaceResorts.Common.Notifications.WinForm.NotificationsSectionHandler, PalaceResorts4.Common.Notifications.WinForm" allowDefinition="Everywhere"/>
    </sectionGroup>

  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!-- Configuracion de la seccion Web Palace -->
  <webpalace>

    <!-- App Config Helper -->
    <appconfighelper context="RELEASE" expirationTime="1" url="http://svr-netscaler-cpr01:8087/AppConfigService/SettingsService.asmx" symmetricKey="CfG1l8MlVBJHjqg2iFhSlmMnooN5x1gmmKvzfbsAOkRSGXUQvA4f3CmywTMIfUl8" />

  </webpalace>

  <!-- Configuracion de la seccion Palace Resorts -->
  <palaceresorts>

    <!-- Notificaciones -->
    <notifications>
      <mailNotifications serviceurl="http://svr-2000-web2:8086/IntelligenceClubService/NotifyService.svc"
                         from="IntelligenceMarketing@palaceresorts.com"
                         fromdisplayname="Intelligence Marketing"
                         applicationfriendlyname="Intelligence Marketing - Mail Outs"
                         enabled="true">
        <exceptions sendTo="wtorres@palaceresorts.com,erosado@palaceresorts.com,edgrodriguez@palaceresorts.com,emoguel@palaceresorts.com,aalcocer@palaceresorts.com" enabled="true"/>
        <alerts sendTo="wtorres@palaceresorts.com,erosado@palaceresorts.com,edgrodriguez@palaceresorts.com,emoguel@palaceresorts.com,aalcocer@palaceresorts.com" enabled="true"/>
      </mailNotifications>
    </notifications>

  </palaceresorts>

  <!-- Variables de Configuracion de la Aplicacion -->
  <appSettings>

    <!-- Ambiente -->
    <add key="Environment" value="Production" />

    <!-- Cadenas de conexion -->
    <add key="IntelligenceMarketing.ConnectionKey" value="Clubes-OrigosElite" />

  </appSettings>

</configuration>
