<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>

    <!-- Configuracion de la seccion Palace Resorts -->
    <sectionGroup name="palaceresorts" type="Microsoft.Web.Configuration.MicrosoftWebSectionGroup">
      <section name="notifications" type="PalaceResorts.Common.Notifications.WinForm.NotificationsSectionHandler, PalaceResorts4.Common.Notifications.WinForm" allowDefinition="Everywhere"/>
      <section name="epplus" type="PalaceResorts.Common.PalaceTools.Epplus.Configuration.EpplusSectionHandler, PalaceResorts4.Common.PalaceTools.Epplus" />
    </sectionGroup>

  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!-- Configuracion de la seccion Palace Resorts -->
  <palaceresorts>

    <!-- EPPlus -->
    <epplus  filePath="C:\Temp\Intelligence Marketing" applicationName="Intelligence Marketing"/>

    <!-- Notificaciones -->
    <notifications>
      <mailNotifications serviceurl="http://svr-2000-web2:8086/IntelligenceClubService/NotifyService.svc"
                         from="IntelligenceMarketingTest@palaceresorts.com"
                         fromdisplayname="Intelligence Marketing Test"
                         applicationfriendlyname="Intelligence Marketing - Launcher"
                         enabled="false">
        <exceptions sendTo="wtorres@palaceresorts.com,erosado@palaceresorts.com,edgrodriguez@palaceresorts.com,emoguel@palaceresorts.com,vku@palaceresorts.com" enabled="true"/>
        <alerts sendTo="wtorres@palaceresorts.com,erosado@palaceresorts.com,edgrodriguez@palaceresorts.com,emoguel@palaceresorts.com,vku@palaceresorts.com" enabled="true"/>
      </mailNotifications>
    </notifications>

  </palaceresorts>

  <!-- Variables de Configuracion de la Aplicacion -->
  <appSettings>

    <!-- Ambiente -->
    <add key="Environment" value="Development" />

    <!-- Modulo -->
    <add key="Module" value="Launcher" />

  </appSettings>

</configuration>