if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UFN_OR_GetPRAssigns]') and xtype in (N'FN', N'IF', N'TF'))
drop function [dbo].[UFN_OR_GetPRAssigns]
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS OFF 
GO

/*
** Palace Resorts
** Grupo de Desarrollo Palace
**
** Devuelve el numero de asignaciones por PR
** 
** [wtorres]	18/Sep/2009 Created
** [wtorres]	23/Sep/2009 Modified. Convertido a funcion. Agregue el parametro @LeadSources
** [erosado]	24/Feb/2016 Modified. Agregue los parametros @Countries
**
*/
create function [dbo].[UFN_OR_GetPRAssigns](
	@DateFrom datetime,				-- Fecha desde
	@DateTo datetime,				-- Fecha hasta
	@LeadSources varchar(8000),		-- Clave de los Lead Sources
	@Countries varchar(max) = 'ALL'	-- Clave de los paises
	
)
returns @Table table (
	PR varchar(10),
	Assigns int
)
as
begin

insert @Table
select
	guPRAssign,
	Count(*)
from Guests
where
	-- PR asignado
	guPRAssign is not null
	-- Fecha de llegada
	and guCheckInD between @DateFrom and @DateTo
	-- No rebook
	and guRef is null
	-- Con Check In
	and guCheckIn = 1
	-- No antes In & Out
	and guAntesIO = 0
	-- Lead Source
	and guls in (select item from split(@LeadSources, ','))
	-- Pais
	and (@Countries = 'ALL' or guco in (select item from split(@Countries, ',')))
group by guPRAssign

return
end

GO
SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

