USE [OrigosVCPalace]
GO
/****** Object:  UserDefinedFunction [dbo].[UFN_IM_GetLinerSalesAmount]    Script Date: 05/13/2016 12:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
** Palace Resorts
** Grupo de Desarrollo Palace
**
** Devuelve el monto de ventas por Liner
** 
** [edgrodriguez]	07/May/2016 Created.
**
*/
CREATE function [dbo].[UFN_IM_GetLinerSalesAmount](
	@DateFrom datetime,				-- Fecha desde
	@DateTo datetime,				-- Fecha hasta
	@SalesRooms varchar(max) = 'ALL',	-- Clave de las salas de ventas
	@ConsiderOutOfPending bit = 0,	-- Indica si se debe considerar Out Of Pending	
	@ConsiderCancel bit = 0,		-- Indica si se debe considerar canceladas
	@ConsiderPending bit = 0,		-- Indica si se debe considerar pendientes
	@saLiner1Type int = -1			--Filtro de Tipo de liner.
									-- -1.- Sin Filtro
									--	0.- Liner
									--	1.- Front to Middle
									--	2.- Front to Back
	
)
returns @Table table (
	Liner varchar(10),
	SalesAmount money
)
as
begin

insert @Table

-- Monto de ventas (Liner 1)

SELECT 
S.saLiner1,
sum(S.saGrossAmount * dbo.UFN_OR_GetPercentageSalesman(s.saLiner1,s.saLiner2,default,default,default))
FROM
Sales S
left join SaleTypes ST on S.sast = ST.stID
where
	-- Liner1
	S.saLiner1 is not null
	-- Fecha de procesable
	and ((((@ConsiderPending = 0 and S.saProcD between @DateFrom and @DateTo)
	-- Fecha de venta
	or (@ConsiderPending = 1 and S.saD between @DateFrom and @DateTo and (S.saProc = 0 or not S.saProcD between @DateFrom and @DateTo))))
	-- No downgrades
	and (ST.ststc <> 'DG'
	-- Downgrades cuya membresia de referencia esta dentro del periodo
	or (@ConsiderCancel = 0 and ST.ststc = 'DG' and S.saProcRD between @DateFrom and @DateTo)))
	-- Fecha de cancelacion
	and ((@ConsiderCancel = 0 and (S.saCancel = 0 or S.saCancelD not between @DateFrom and @DateTo))
		or (@ConsiderCancel = 1 and S.saCancelD between @DateFrom and @DateTo))
	-- Out Of Pending
	and (@ConsiderOutOfPending = 0 or S.saD <> S.saProcD) 
	-- Salas de ventas
	and (@SalesRooms = 'ALL' or S.sasr in (select item from split(@SalesRooms, ',')))
	--Tipo de Liner
	and(@saLiner1Type = -1 or S.saLiner1Type=@saLiner1Type)
group by S.saLiner1

union all

-- Monto de Ventas (Liner 2)
SELECT 
S.saLiner2,
sum(S.saGrossAmount * dbo.UFN_OR_GetPercentageSalesman(s.saLiner1,s.saLiner2,default,default,default))
FROM
Sales S
left join SaleTypes ST on S.sast = ST.stID
where
	-- Liner 2
	S.saLiner2 is not null
	-- Fecha de procesable
	and ((((@ConsiderPending = 0 and S.saProcD between @DateFrom and @DateTo)
	-- Fecha de venta
	or (@ConsiderPending = 1 and S.saD between @DateFrom and @DateTo and (S.saProc = 0 or not S.saProcD between @DateFrom and @DateTo))))
	-- No downgrades
	and (ST.ststc <> 'DG'
	-- Downgrades cuya membresia de referencia esta dentro del periodo
	or (@ConsiderCancel = 0 and ST.ststc = 'DG' and S.saProcRD between @DateFrom and @DateTo)))
	-- Fecha de cancelacion
	and ((@ConsiderCancel = 0 and (S.saCancel = 0 or S.saCancelD not between @DateFrom and @DateTo))
		or (@ConsiderCancel = 1 and S.saCancelD between @DateFrom and @DateTo))
	-- Out Of Pending
	and (@ConsiderOutOfPending = 0 or S.saD <> S.saProcD) 
	-- Salas de ventas
	and (@SalesRooms = 'ALL' or S.sasr in (select item from split(@SalesRooms, ',')))
	--Tipo de Liner
	and(@saLiner1Type = -1 or S.saLiner1Type=@saLiner1Type)
group by S.saLiner2
return
end
