<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="IMEntities" connectionString="metadata=res://*/IMModel.csdl|res://*/IMModel.ssdl|res://*/IMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=svr-mssql-test\pruebas2005;initial catalog=OrigosVCPalace;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
