<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IM.BusinessRules.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <IM.BusinessRules.Properties.Settings>
      <setting name="USP_OR_RptFollowUpByAgency_Timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptFollowUpByPR_Timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptProductionByAgeInhouse_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptProductionByAgeMarketOriginallyAvailableInhouse_Timeout"
        serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptProductionByAgencyInhouse_Timeout" serializeAs="String">
        <value>60</value>
      </setting>
    </IM.BusinessRules.Properties.Settings>
  </userSettings>
</configuration>