<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IM.BusinessRules.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <IM.BusinessRules.Properties.Settings>
      <setting name="USP_OR_RptFollowUpByAgency_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptFollowUpByPR_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptProductionByAgeInhouse_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptProductionByAgeMarketOriginallyAvailableInhouse_Timeout"
        serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptProductionByAgencyInhouse_Timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptPRStats" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="UPS_OR_RptProductionBySalesRoom_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="UPS_OR_RptProductionBySalesRoomMarket_Timeout"
        serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="UPS_OR_RptProductionBySalesRoomMarketSubmarketTimeout"
        serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="USP_OR_RptProductionByCoupleTypeInhouse_Timeout"
        serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptProductionByNationalityInhouse_Timeout"
        serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="USP_OR_RptProductionByDeskInhouse_Timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptProductionByGroupInhouse_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptProductionByGuestStatusInhouse_Timeout"
        serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptProductionByMemberTypeAgencyInhouse_Timeout"
        serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptProductionByMemberTypeAgencyMarketOriginallyAvailableInhouse_Timeout"
        serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptProductionByNationalityMarketOriginallyAvailableInhouse_Timeout"
        serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptProductionByGiftQuantity_Timeout" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="USP_OR_RptProductionByPRInhouse_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptProductionByPRGroupInhouse_Timeout"
        serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptProductionByPRSalesRoomInhouse_Timeout"
        serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptRepsPayment_Timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptRepsPaymentSummary_Timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptCostByPRWithDetailGifts_Timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptProductionByContractAgencyMarketOriginallyAvailableInhouse_Timeout"
        serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptProductionByContractAgencyInhouse_Timeout"
        serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptGiftsReceivedBySR_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptProductionByAgencyMarketHotelOutside_Timeout"
        serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptProductionByAgencySalesRoomOutside_Timeout"
        serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="USP_OR_RptProductionByPROutside_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptProductionByGiftInvitation_Timeout"
        serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptProductionByGiftInvitationSalesRoom_Timeout"
        serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptProductionByAgeOutside_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_GraphNotBookingArrivals_Timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptUnavailableMotivesByAgency_Timeout"
        serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptShowFactorByBookingDate_Timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptProductionByAgencyMonthly_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_GraphUnavailableArrivals_Timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptProductionByAgencyOutside_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptProductionByNationalityOutside_Timeout"
        serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_GetArrivals_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_GetAvailables_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_GetPremanifest_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_GetGuests_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptProductionByPRSalesRoomOutside_Timeout"
        serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptFoliosInvitationsOuthouseByPR_Timeout"
        serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptDepositsPaymentByPR_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptDailySalesDetail_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_IM_RptConcentrateDailySales_TimeOut" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptCostByPR_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_GraphProduction_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_RptProductionByMember_Timeout" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="USP_OR_RptProductionByMonth_Timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_RptScoreByPR_Timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_OR_TransferDeleteReservationsCancelled_Timeout"
        serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="USP_OR_GetSales_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_GraphProductionByPR_Timeout" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="USP_OR_GetGiftsReceipts_Timeout" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="USP_IM_RptManifestRange_Timeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="USP_OR_GetPersonnelStatistics" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="USP_OR_UpdatePersonnelId" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="USP_OR_GetGuestsByPR" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="USP_OR_Occupation" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="USP_OR_GetCxC_Timeout" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="USP_IM_RptStatisticsByFTB_Timeout" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="USP_OR_DeletePersonnel" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="USP_IM_RptStatisticsBySegments_Timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_IM_RptStatisticsByCloser_Timeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="USP_IM_RptStatisticsByExitCloser_Timeout" serializeAs="String">
        <value>60</value>
      </setting>
    </IM.BusinessRules.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>