<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IM.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IM.Services.Properties.Settings>
            <setting name="IM_Services_WirePRService_OrigosServiceInterface"
                serializeAs="String">
                <value>http://svr-2000-web2:8087/WireServiceInterface/OrigosServiceInterface.asmx</value>
            </setting>
            <setting name="IM_Services_ClubesService_OrigosServiceInterface"
                serializeAs="String">
                <value>http://svr-2000-web2:8087/ClubesPRServiceInterface/OrigosServiceInterface.asmx</value>
            </setting>
            <setting name="IM_Services_CallCenterService_CallCenterServiceInterface"
                serializeAs="String">
                <value>http://svr-2000-web2:8087/CreditoCobranzaReservaPRServiceInterface/CallCenterServiceInterface.asmx</value>
            </setting>
        </IM.Services.Properties.Settings>
    </applicationSettings>
</configuration>