if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GiftsByLoc]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[GiftsByLoc]
GO

CREATE TABLE [dbo].[GiftsByLoc] (
	[gllo] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[glgi] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL 
) ON [PRIMARY]
GO

