if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SalesLog]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[SalesLog]
GO

CREATE TABLE [dbo].[SalesLog] (
	[slID] [datetime] NOT NULL ,
	[slsa] [int] NOT NULL ,
	[slMembershipNum] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slgu] [int] NULL ,
	[slst] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slReference] [int] NULL ,
	[slmt] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slOriginalAmount] [money] NULL ,
	[slNewAmount] [money] NULL ,
	[slGrossAmount] [money] NULL ,
	[slD] [datetime] NOT NULL ,
	[slProcD] [datetime] NULL ,
	[slCancelD] [datetime] NULL ,
	[sllo] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slls] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slsr] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slPR1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slSelfGen] [bit] NULL ,
	[slPR2] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slPR3] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slPRCaptain1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slPRCaptain2] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slLiner1Type] [tinyint] NULL ,
	[slLiner1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slLiner2] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slLinerCaptain1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slCloser1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slCloser2] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slCloser3] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slExit1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slExit2] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slCloserCaptain1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slPodium] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slVLO] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[slCloser1P] [tinyint] NULL ,
	[slCloser2P] [tinyint] NULL ,
	[slCloser3P] [tinyint] NULL ,
	[slExit1P] [tinyint] NULL ,
	[slExit2P] [tinyint] NULL ,
	[slClosingCost] [money] NULL ,
	[slOverPack] [money] NULL ,
	[slChangedBy] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

